img {
  width: 50px;
}


#face {
  width: 400px;
}

#eyes1 {position:absolute;width:200;top:200;left:100;}

#mouth1{position:absolute;width:200;top:325;left:100;}

#nose2{position:absolute;width:200;top:200;left:100;} 

#antenna{position:absolute;width:200;top:50;left:132;}