body {
    font-family: Helvetica, Arial, sans-serif;
}
ul {
    list-style:none;
}
li::before {
    font-family:"Font Awsome 5 free";
    content:"\25CE";
    color: blue;
    margin-right:10pt;
}
tr, td, th {
   padding: 5pt;
   border: black solid 0.25pt;
}
table {
   border: blue solid 1pt;
   border-collapse: collapse;
}
.rowHeader {
   text-align: left;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li::before {
    content:"";
}
.nav li {
  display: inline;
  border: blue solid 2pt;
  margin: 10pt;
  padding: 5pt;
}
