/*
........................................
These is notes:

........................................
*/

body{
	padding:50px;
	background-color:#992600; /*a burgendyish color*/
	color:#ff9966; /*a redish orangeish pinkish color?*/
}

h1{
	padding:15px;
	text-align:left;
}

p{
	text-align:justify;
	padding-right:50px;
	padding-left:50px;	
}

ul{
	padding:15px;
	text-align:right;
	list-style-type:none;
}

a{
	color:#ffb999; /*a lighter version of color for body*/
}

a:hover{
	color:#662200; /*a darker version of color for body*/
}

a:visited{
	color:#ffcc66; /*a color next to color for body*/
}	