/*
........................................
These is notes:

color picker:
https://www.w3schools.com/colors/colors_picker.asp

link color guide:
((because my links were coloring fine, then i added another one and they stoped))
https://www.bitdegree.org/learn/css-link-color

!! links must be in this order to work:
A:LINK---A:VISITED---A:HOVER---A:ACTIVE
its dumb but it is
........................................
*/

body{
	padding:50px;
	background-color:#000066;
	color:#e6e6ff;
	font-family: Helvetica, sans-serif;
}

h1{
	padding:15px;
	text-align:center;
	font-size:60px;
	color:#ff9666;
}

p{
	text-align:justify;
	padding-right:250px;
	padding-left:250px;	
	
	font-size:20px;
	font-weight:bold;
}

ul{
	padding:15px;
	list-style-type:none;
}

.pigs{
	background-color:/*#99ccff;*/ #3399ff;
	font-size:30px;
	text-align:right;
}

.rpg{
	background-color:#336699;
	font-size:30px;
	text-align:left;
}

a:link {
	color:/*#ffb999;*/ #ff9666;
	text-decoration:none;
}

a:visited{
	color:#009999;
}

a:hover{
	color:#ff621a;
}

a:active{
	color:white;
}


